<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/viewReport.css" />
    <title>RM - Report</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img class="rm" src="/images/rmnotext.png" alt="" />
      </div>
      <ul class="log-btns">
        <li><a href="/users/logout"><button class="nav-btn" id="Log-out">Logout</button></a></li>
      </ul>
    </nav>
    <main>
      <div class="ind">
        <h1><%= report.title %></h1>
        <h3>Report content:</h3>
              <p><%= report.reportContent %></p>
              <div class="status-container viewport" data-id=<%= report._id %>>
                <% if (role == 'admin') { %>
                  <form id="form" action="/reports/viewReport/<%= report._id %>?_method=PUT" method="POST">
                    <select id="select" class="status status-process" name="status">
                      <option id="op1" value="processing">Processing</option>
                      <option id="op2" value="solved">Solved</option>
                      </select>
                      <button id="update" type="submit" class="view">Update status</button>
                  </form>
                <% } else {%>
                 <td class="status-container"><span id="sts" class="status status-process"><span class="circle circle-process"></span><%= report.status %></span></td>

                <% } %>
              </div>
    </main>
    <% if (role == 'admin') { %>
      <script src="/js/admin.js"></script>
    <% } else {%>
      <script src="/js/basicRole.js"></script>
      <% } %>
  </body>
</html>
